<h3>{{@post.title}}</h3>

{{#if @showBody}}
  <span>{{@post.formatDate}}</span>
  <pre style='white-space: pre-wrap;'>{{@post.body}}</pre>
  <button type="button" {{on 'click' (fn this.removePost @post)}}>
    Remove post
  </button>
{{/if}}